{% extends 'base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<h2>О компании {{ company|upper }}</h2>  <!-- upper - ВЕРХНИЙ РЕГИСТР -->

<p>Год основания: {{ year }}</p>

<!-- Примеры фильтров: -->
<p>Привет в верхнем регистре: {{ "привет"|upper }}</p>
<p>ПРИВЕТ в нижнем регистре: {{ "ПРИВЕТ"|lower }}</p>
<p>Первая заглавная: {{ "привет мир"|capfirst }}</p>
<p>Слов стало: {{ "привет мир"|wordcount }}</p>
<p>Символов: {{ "привет"|length }}</p>
<p>Только первые 5 символов: {{ "длинный текст"|truncatechars:5 }}</p>
{% endblock %}